tree.dot
neighbourhoods_planning_areas_wgs84/TSNS 2020 NEI Methodological Documentation-Final.docx
neighbourhoods_planning_areas_wgs84/NEIGHBORHOODS_WGS84.shx
neighbourhoods_planning_areas_wgs84/NEIGHBORHOODS_WGS84.shp.xml
neighbourhoods_planning_areas_wgs84/NEIGHBORHOODS_WGS84.shp
neighbourhoods_planning_areas_wgs84/NEIGHBORHOODS_WGS84.prj
neighbourhoods_planning_areas_wgs84/NEIGHBORHOODS_WGS84.dbf
SimplyAnalytics_Shapefiles/variable_names.txt
SimplyAnalytics_Shapefiles/SimplyAnalytics_Shapefiles_2019-04-22_17_39_41_4f6cb5f6a3723a126aa3cae19027a2f8.shx
SimplyAnalytics_Shapefiles/SimplyAnalytics_Shapefiles_2019-04-22_17_39_41_4f6cb5f6a3723a126aa3cae19027a2f8.shp
SimplyAnalytics_Shapefiles/SimplyAnalytics_Shapefiles_2019-04-22_17_39_41_4f6cb5f6a3723a126aa3cae19027a2f8.prj
SimplyAnalytics_Shapefiles/SimplyAnalytics_Shapefiles_2019-04-22_17_39_41_4f6cb5f6a3723a126aa3cae19027a2f8.dbf
Obosolete/Craigslist ETL (OBOSOLETE).ipynb
neighbourhoods_planning_areas_wgs84/NEIGHBORHOODS_WGS84_readme.txt
CSDA1050_CL_Cleaned.csv
Next Steps Proposal.md
